<div id="inSlider" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="container">
  
          <!-- profil info -->
          <div class="carousel-image col-lg-12  shadow-lg p-3 mb-5 bg-white rounded" style="margin-top: 130px; margin-bottom: 5px">
   
            <div> modification </div>
  
        </div>
        </div>
        <!-- Set background for slide in css -->
        <div class="header-back two"></div>
  
      </div>
    </div>
  </div>

<section class="timeline gray-section container">
   <div class="row p-3 ">

     <div class="col-md-4">
        <label class="">
           <strong>Nom :</strong> 
        </label>
        <input class=" rounded form-control" type="text" value="" name="" style="display: block;">
      </div>
    <div class="col-md-4">
        <label class="">
           <strong>Prénom :</strong> 
        </label>
        <input class=" rounded form-control" type="text" value="" name="" style="display: block;">
      </div>
      <div class="col-md-4">
          <label class="">
             <strong>Nationalité :</strong> 
          </label>
          <input class=" rounded form-control" type="text" value="" name="" style="display: block;">
        </div>
      <div class="col-md-4">
          <label class="">
             <strong>École  :</strong> 
          </label>
          <input class=" rounded form-control" type="text" value="" name="" style="display: block;">
        </div>
        <div class="col-md-4">
            <label class="">
               <strong>Diplôme  :</strong> 
            </label>
            <input class=" rounded form-control" type="text" value="" name="" style="display: block;">
          </div>


          <div class="col-md-4">
              <label class="">
                 <strong> Domaine d’études :</strong> 
              </label>
              <input class=" rounded form-control" type="text" value="" name="" style="display: block;">
            </div>
        <div class="col-md-4">
            <label class="">
               <strong>Intitulé du poste :</strong> 
            </label>
            <input class=" rounded form-control" type="text" value="" name="" style="display: block;">
          </div>


          <div class="col-md-4">
              <label class="">
                 <strong>Nom de l’entreprise :</strong> 
              </label>
              <input class=" rounded form-control" type="text" value="" name="" style="display: block;">
            </div>


            <div class="col-md-4">
                <label for="example-date-input">
                    <strong>Date de naissance</strong>
                </label>
                <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
              </div>






    </div>
</section>
  
  
  
  
  
  
 