<div class="container mb-3">
    <div class="row wrapper border-bottom white-bg page-heading">
      <br>
      <br>
      <br>
      <br>
    </div>
    <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-9">
        <h2>Transparency</h2>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/landing/home">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a #h1Variable></a>
          </li>
        </ol>
      </div>
    </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img class="d-block w-100 border rounded" src="assets/img/landing/header_two.jpg" alt="First slide">
    </div>
    <div class="ibox col-md-6">
      <div class="ibox-content">
          <h2>
            La transparence est un élément essentiel de la bonne gouvernance des affaires publiques.
                    </h2>


        <p>
           Cela est nécessaire pour l'efficacité et l'efficience de l'action des gouvernements locaux et pour la responsabilisation des autorités locales vis-à-vis de la population. La transparence est grandement améliorée lorsque les citoyens ont accès à des informations sur le fonctionnement et la gestion du gouvernement local. lorsque les autorités locales respectent un certain nombre de règles et de procédures juridiques relatives au recrutement et à la gestion du personnel, aux appels d’offres, aux marchés publics et au suivi de l’exécution des contrats; et lorsque la loi exige que les administrations locales fassent l'objet d'audits financiers et organisationnels réguliers et indépendants selon un calendrier et dans des délais déterminés, et que cette loi soit appliquée.
        </p>
      </div>
    </div>
  </div>
</div>
<app-indicator></app-indicator>
<div class="container">
    <app-statistc-map (messageEvent)="getOnclickObject($event)"></app-statistc-map>
</div>
<app-maps></app-maps>
