<div class="container mb-3">
    <div class="row wrapper border-bottom white-bg page-heading">
      <br>
      <br>
      <br>
      <br>
    </div>
    <div class="row wrapper border-bottom white-bg page-heading">
      <div class="col-lg-9">
        <h2>Transparency</h2>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/landing/home">Home</a>
          </li>
          <li class="breadcrumb-item">
            <a #h1Variable></a>
          </li>
        </ol>
      </div>
    </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img class="d-block w-100 border rounded" src="assets/img/landing/header_tw.jpg" alt="First slide">
    </div>
    <div class="ibox col-md-6">
      <div class="ibox-content">
          <h2>
            La Transparence est un élément essentiel de la bonne gouvernance des affaires publiques.
                    </h2>


        <p>
           Cela est nécessaire pour l'efficacité et l'efficience de l'action des gouvernements locaux et pour la responsabilisation des autorités locales vis-à-vis de la population. La transparence est grandement améliorée lorsque les citoyens ont accès à des informations sur le fonctionnement et la gestion du gouvernement local. lorsque les autorités locales respectent un certain nombre de règles et de procédures juridiques relatives au recrutement et à la gestion du personnel, aux appels d’offres, aux marchés publics et au suivi de l’exécution des contrats; et lorsque la loi exige que les administrations locales fassent l'objet d'audits financiers et organisationnels réguliers et indépendants selon un calendrier et dans des délais déterminés, et que cette loi soit appliquée.
        </p>
      </div>
    </div>
  </div>
</div>
<!-- Indicators -->
<div class="container">

    <div class="row">
  
      <div class="col-lg " style="
          padding-left: 0px;
          padding-right: 0px;">
        <div class="ibox-content">
            <div class="tabs-container">
              <ul class="nav nav-tabs  justify-content-between text-capitalize text-white font-weight-bold " role="tablist">
                <li><a class="nav-link bg-primary " [ngClass]="tab1.id == tabHover ? 'active show' : ''" data-toggle="tab" (mouseover)="onMouseOver('tab1')"> Plans et planification</a></li>
                <li><a class="nav-link bg-primary " [ngClass]="tab2.id == tabHover ? 'active show' : ''" data-toggle="tab" (mouseover)="onMouseOver('tab2')">informations GÉNÉRALES </a></li>
                <li><a class="nav-link bg-primary " [ngClass]="tab3.id == tabHover ? 'active show' : ''" data-toggle="tab" (mouseover)="onMouseOver('tab3')"> Taxes locales,impôts</a></li>
                <li><a class="nav-link bg-primary " [ngClass]="tab4.id == tabHover ? 'active show' : ''" data-toggle="tab" (mouseover)="onMouseOver('tab4')"> Relation avec le citoyen</a></li>
                <li><a class="nav-link bg-primary " [ngClass]="tab5.id == tabHover ? 'active show' : ''" data-toggle="tab" (mouseover)="onMouseOver('tab5')"> marchés publics</a></li>
                <li><a class="nav-link bg-primary " [ngClass]="tab6.id == tabHover ? 'active show' : ''" data-toggle="tab" (mouseover)="onMouseOver('tab6')"> économique et financière</a></li>
              </ul>
              <div class="tab-content">
                <!--  body of Plans et planification -->
                <div role="tabpanel" #tab1 id="tab1"  class="tab-pane" [ngClass]="tab1.id == tabHover ? 'active show' : ''">
                  <div class="panel-body">
  
                    <div class="row">
  
  
                      <div class="col-sm-12 ">
  
                          <div class="icheck-turquoise  b-r-lg m-b">
                              <input [(ngModel)]="searchIndicator"  (ngModelChange)="onSelect()"  value="Rapport annuel disponible" type="radio" id="Plans1" name="indicator" />
                              <label for="Plans1">Rapport annuel disponible</label>
                              {{searchIndicator| json}}
                            </div>
                            <div class="icheck-turquoise  b-r-lg m-b">
                              <input [(ngModel)]="searchIndicator"  (ngModelChange)="onSelect()"   value="Rapport sur le développement de la collectivité" type="radio" id="Plans2" name="indicator" />
                              <label for="Plans2">Rapport sur le développement de la collectivité </label>
                            </div>
  
                 
                          <div class="icheck-turquoise b-r-lg m-b">
                            <input [(ngModel)]="searchIndicator"  (ngModelChange)="onSelect()" value="Rapport sur les manquements" type="radio" id="Plans3" name="indicator" />
                            <label for="Plans3">Rapport sur les manquements  </label>
                          </div>
      
                          <div class="icheck-turquoise b-r-lg m-b">
                            <input [(ngModel)]="searchIndicator"  (ngModelChange)="onSelect()" value="Plan stratégique disponible" type="radio" id="Plans4" name="indicator" />
                            <label for="Plans4">Plan stratégique disponible  </label>
                          </div>
               
  
                      
                          <div class="icheck-turquoise b-r-lg m-b">
                            <input [(ngModel)]="searchIndicator"  (ngModelChange)="onSelect()" value="Plan financier disponible" type="radio" id="Plans5" name="indicator" />
                            <label for="Plans5">Plan financier disponible   </label>
                          </div>
               
  
                      </div>
                    </div>
  
  
  
                  </div>
                </div>
                <!-- body of informations GÉNÉRALES -->
                <div role="tabpanel" #tab2 id="tab2" class="tab-pane" [ngClass]="tab2.id == tabHover ? 'active show' : ''">
                  <div class="panel-body">
                    <div class="row">
  
  
                      <div class="col-sm-12 ">
                    
                          <div class="icheck-turquoise b-r-lg m-b">
                            <input [(ngModel)]="searchIndicator" (ngModelChange)='onSelect()' value="Rôle et composition clairement définie" type="radio" id="informations1" name="indicator"/>
                            <label for="informations1">Rôle et composition clairement définie </label>
                            {{searchIndicator| json}}

                          </div>
                     
  
                      
                          <div class="icheck-turquoise b-r-lg m-b">
                            <input [(ngModel)]="searchIndicator" (ngModelChange)='onSelect()' value="CV et biographies des maires disponibles"  type="radio" id="informations2" name="indicator" />
                            <label for="informations2">CV et biographies des maires disponibles </label>
                          </div>
               
  
                     
                          <div class="icheck-turquoise b-r-lg m-b">
                            <input [(ngModel)]="searchIndicator" (ngModelChange)='onSelect()' value="Déclaration disponible" type="radio" id="informations3" name="indicator" />
                            <label for="informations3">Email de la collectivité disponible  </label>
                          </div>
                      
              
                          <div class="icheck-turquoise b-r-lg m-b">
                            <input [(ngModel)]="searchIndicator" (ngModelChange)='onSelect()' value="Déclaration disponible" type="radio" id="informations4" name="indicator" />
                            <label for="informations4">Déclaration disponible  </label>
                          </div>
                  
  
                      </div>
                    </div>
                  </div>
                </div>
                <!-- body  Taxes locales,impôts  -->
                <div role="tabpanel" #tab3 id="tab3" class="tab-pane" [ngClass]="tab3.id == tabHover ? 'active show' : ''">
                  <div class="panel-body">
                    <div class="row">
  
  
                      <div class="col-sm-12 ">
  
                        <div class="icheck-turquoise b-r-lg m-b">
                            <input [(ngModel)]="searchIndicator" (ngModelChange)='onSelect()' value="Rapport sur les recettes de taxes" type="radio" id="taxes1" name="indicator"/>
                            <label for="taxes1">Rapport sur les recettes de taxes </label>
                          </div>
  
                          <div class="icheck-turquoise b-r-lg m-b">
                            <input [(ngModel)]="searchIndicator" (ngModelChange)='onSelect()' value="Publication transparence des taux" type="radio" id="taxes2" name="indicator" />
                            <label for="taxes2">Publication transparence des taux </label>
                          </div>
  
                      </div>
                    </div>
                  </div>
                </div>
  
                <!-- body Relation avec le citoyen  -->
                <div role="tabpanel" #tab4 id="tab4" class="tab-pane" [ngClass]="tab4.id == tabHover ? 'active show' : ''">
                  <div class="panel-body">
                    <div class="row">
  
  
                      <div class="col-sm-12 ">
                 
                          <div class="icheck-turquoise b-r-lg m-b">
                            <input [(ngModel)]="searchIndicator" (ngModelChange)='onSelect()' value="Outils de communication disponible " type="radio" id="Relationship1" name="indicator"  />
                            <label for="Relationship1">Outils de communication disponible  </label>
                          </div>
                  
  
       
                          <div class="icheck-turquoise b-r-lg m-b">
                            <input [(ngModel)]="searchIndicator" (ngModelChange)='onSelect()' value="Site web disponible" type="radio" id="Relationship2" name="indicator" />
                            <label for="Relationship2">Site web disponible  </label>
                          </div>
                       
  
                          <div class="icheck-turquoise b-r-lg m-b">
                            <input [(ngModel)]="searchIndicator" (ngModelChange)='onSelect()' value="Journal d’information" type="radio" id="Relationship3" name="indicator" />
                            <label for="Relationship3">Journal d’information  </label>
                          </div>
                     
  
                     
                          <div class="icheck-turquoise b-r-lg m-b">
                            <input [(ngModel)]="searchIndicator" (ngModelChange)='onSelect()' value="Newsletter disponible" type="radio" id="Relationship4" name="indicator" />
                            <label for="Relationship4">Newsletter disponible  </label>
                          </div>
            
                       
                          <div class="icheck-turquoise b-r-lg m-b">
                            <input [(ngModel)]="searchIndicator" (ngModelChange)='onSelect()' value="Pages réseaux sociaux disponibles  " type="radio" id="Relationship5" name="indicator" />
                            <label for="Relationship5">Pages réseaux sociaux disponibles  </label>
                          </div>
                 
                     
                          <div class="icheck-turquoise b-r-lg m-b">
                            <input [(ngModel)]="searchIndicator" (ngModelChange)='onSelect()' value="Rencontres de la population" type="radio" id="Relationship6" name="indicator" />
                            <label for="Relationship6">Rencontres de la population</label>
                          </div>
                       
  
                      </div>
                    </div>
                  </div>
                </div>
  
                <!-- body of marchés publics  -->
                <div role="tabpanel" #tab5 id="tab5" class="tab-pane" [ngClass]="tab5.id == tabHover ? 'active show' : ''">
                  <div class="panel-body">
                    <div class="row">
  
  
                      <div class="col-sm-12 ">
  
                        <div class="icheck-turquoise b-r-lg m-b-xs">
                            <input [(ngModel)]="searchIndicator" (ngModelChange)='onSelect()' value="Service délivré à la population" type="radio" id="procurement1" name="indicator"  />
                            <label for="procurement1">Service délivré à la population  </label>
                          </div>
  
                          <div class="icheck-turquoise b-r-lg m-b-xs">
                            <input [(ngModel)]="searchIndicator" (ngModelChange)='onSelect()' value="Existence d’un document de procédures" type="radio" id="procurement2" name="indicator" />
                            <label for="procurement2">Existence d’un document de procédures </label>
                          </div>
  
                      </div>
                    </div>
                  </div>
                </div>
  
                <!-- body of économique et financière  -->
                <div role="tabpanel" #tab6 id="tab6" class="tab-pane" [ngClass]="tab6.id == tabHover ? 'active show' : ''">
                  <div class="panel-body">
                    <div class="row">
  
  
                      <div class="col-sm-12 ">
    
                          <div class="icheck-turquoise b-r-lg m-b">
                            <input [(ngModel)]="searchIndicator" (ngModelChange)='onSelect()' value="Budget de la collectivité communiqué" type="radio" id="Economic1" name="indicator"  />
                            <label for="Economic1">Budget de la collectivité communiqué  </label>
                          </div>
              
  
             
                          <div class="icheck-turquoise b-r-lg m-b">
                            <input [(ngModel)]="searchIndicator" (ngModelChange)='onSelect()' value="Budget de la collectivité communiqué" type="radio" id="Economic2" name="indicator" />
                            <label for="Economic2">Recettes de la collectivité  </label>
                          </div>
                       
  
                      </div>
                    </div>
                  </div>
                </div>
              </div>
  
  
            </div>
  
        </div>
      </div>
    </div>
  </div>
<!-- fin indicators -->
<div class="container">
    <!-- <app-trancparency-maps (messageEvent)="getOnclickObject($event)"></app-trancparency-maps> -->
    <app-trancparency-maps [searchResults]="results"></app-trancparency-maps>

</div>
<app-maps></app-maps>
