<div class="panel panel-primary">
  <div class="panel-heading">
    <h3>Sélectionnez un pays ou un territoire </h3>
  </div>
  <div class="panel-body">
    <a class="btn btn-default btn-rounded btn-block" (click)="selectByContryModal()"> <i class="fab fa-paper-plane-o"></i>
      Cliquez sur un pays ou un territoire ou sélectionnez-le dans la liste déroulante</a>
    <br>



    <div style="height: 580px  ; width: 100%; z-index:0" id="map"></div>



  </div>


</div>
<!-- <div class="panel panel-primary">

  <div class="panel-body">
    <h5>zoomInit : {{ zoomInit }}</h5>
    <h5>zoomStart : {{ zoomStart }}</h5>
    <h5>zoomClick : {{ zoomClick }}</h5>



  </div>


</div> -->
