<nav class="sidebar-nav">
  <ul class="metismenu" id="menu" style="display:none;">
    <li class="active">
      <a href="?" aria-expanded="true">
        <span class="sidebar-nav-item-icon fa fa-github fa-lg"></span>
        <span class="sidebar-nav-item">metisMenu</span>
        <span class="fa arrow"></span>
      </a>
    </li>
    <li>
      <a href="?" aria-expanded="false">Menu 0 <span class="fa arrow"></span></a>
    </li>
    <li>
      <a href="?" aria-expanded="false">Menu 1 <span class="glyphicon arrow"></span></a>
      <ul aria-expanded="false">
        <li><a href="?">item 1.1</a></li>
        <li><a href="?">item 1.2</a></li>
        <li>
          <a href="?" aria-expanded="false">Menu 1.3 <span class="fa plus-times"></span></a>
          <ul aria-expanded="false">
            <li><a href="?">item 1.3.1</a></li>
            <li><a href="?">item 1.3.2</a></li>
            <li><a href="?">item 1.3.3</a></li>
            <li><a href="?">item 1.3.4</a></li>
          </ul>
        </li>
        <li><a href="?">item 1.4</a></li>
        <li>
          <a href="?" aria-expanded="false">Menu 1.5 <span class="fa plus-minus"></span></a>
          <ul aria-expanded="false">
            <li><a href="?">item 1.5.1</a></li>
            <li><a href="?">item 1.5.2</a></li>
            <li><a href="?">item 1.5.3</a></li>
            <li><a href="?">item 1.5.4</a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <a href="?" aria-expanded="false">Menu 2 <span class="glyphicon arrow"></span></a>
      <ul aria-expanded="false">
        <li><a href="?">item 2.1</a></li>
        <li><a href="?">item 2.2</a></li>
        <li><a href="?">item 2.3</a></li>
        <li><a href="?">item 2.4</a></li>
      </ul>
    </li>
  </ul>
</nav>

<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="sidebar-collapse">
    <ul class="nav metismenu" id="side-menu">
      <li class="nav-header">
        <div class="dropdown profile-element"> <span>
            <img alt="image" class="img-circle" src="assets/img/profile_small.jpg">
          </span>
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">David Williams</strong>
              </span> <span class="text-muted text-xs block">Art Director <b class="caret"></b></span> </span> </a>
          <ul class="dropdown-menu animated fadeInRight m-t-xs">
            <li><a href="profile.html">Profile</a></li>
            <li><a href="contacts.html">Contacts</a></li>
            <li><a href="mailbox.html">Mailbox</a></li>
            <li class="divider"></li>
            <li><a href="login.html">Logout</a></li>
          </ul>
        </div>
        <div class="logo-element">
          IN+
        </div>
      </li>
      <li class="">
        <a aria-expanded="true"><i class="fas fa-globe-africa"></i> <span class="nav-label">Maps</span>
          <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse" style="" aria-expanded="true">
          <li><a [routerLink]="['countries']">Country</a></li>
          <li><a [routerLink]="['addCountries']">Add Country</a></li>
          <li><a [routerLink]="['mapsManager']">Maps</a></li>
          <li><a [routerLink]="['regions']">Regions</a></li>
          <li><a  [routerLink]="['category_level']">Categorie level</a></li>


        </ul>
      </li>

      <li class="">
        <a aria-expanded="true"><i class="fas fa-users"></i> <span class="nav-label">Personnes</span>
          <span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse" aria-expanded="true">
          <li><a [routerLink]="['persons']"><i class="fas fa-users"></i>Personnes</a></li>
          <li><a [routerLink]="['academic_level']"><i class="fas fa-graduation-cap"></i>Niveau Academique</a></li>



        </ul>
      </li>






    </ul>

  </div>
</nav>