<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-9">
      <h2>Finances </h2>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a routerLink="/administrateur/home">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a #h1Variable></a>
        </li>
      </ol>
    </div>
  </div>
  
  <div class="wrapper wrapper-content animated fadeInRight">
  
    <div class="row">
      <div class="col-md-5">
        <div class="ibox ">
          <form #AcademicLevelForm="ngForm">
            <div class="ibox-content">
  
  
  
                <div class="form-group  ">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                      <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                    </div>
                  </div>

                  <div class="form-group  ">
  
                      <input type="text" class="form-control" required="" name="name"  placeholder="name">
                      
                    </div>

             
              <div class="form-group  ">
  
                  <input type="text" class="form-control" required="" name="name"  placeholder="url">
                  
                </div>
            
              <!-- <div class="alert alert-danger" [hidden]="!errors.name">
                {{ errors.name }}
              </div> -->
  
  
  
  
  
  
  
  
  
  
  
  
  
            </div>
            <div class=ibox-footer>
              <button type="submit" class="btn btn-block  btn-primary" [disabled]="AcademicLevelForm.invalid" (click)="createNavigateur()">Sauvgarder</button>
            </div>
          </form>
        </div>
  
      </div>
  
  
  
      <div class="col-md-7">
        <div class="ibox">
          <div class="ibox-content">
            <h2>Finances</h2>
            <div class="row">
              <div class="col-md-12">
                <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTriggerALevel" class="table table-striped table-hover">
                  <thead>
                    <tr>
              
                      <th>fichier</th>
                      <th>Nom</th>
                      <th>url</th>
                      <th>Action</th>
  
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                   
                      <td>lien</td>
                      <td>loi de finances </td> 
                      <td>www.exemple.com</td> 
                      <td>
                        <div class="btn-group float-right">
                          <button (click)="editerAcademicLevel()" class="btn-warning btn btn-xs">Editer</button>
                          <button (click)="deleteAcademicLevel()" class="btn-danger btn btn-xs">Supprimer</button>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
  
      </div>
  
    </div>
  
  
  </div>
  