<div class="modal-header" [ngClass]="{ 'bg-primary' : !state, 'bg-warning' : state }">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="onDecline()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form [formGroup]="AcademicLevelForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group {{ errors.name ? 'has-error' : '' }} ">
          <label for="name">Nom</label>
          <input id="name" type="text" class="form-control" name="name" formControlName="name" required>
        </div>
        <!-- <div class="alert alert-danger" [hidden]="!errors.name">
          {{errors.name}}
        </div> -->
      </div>
      <div class="col-md-12">
        <div class="form-group {{ errors.bac_level ? 'has-error' : '' }} ">
          <label for="bac_level">Années apres le baccalaureat</label>
          <input id="bac_level" type="text" class="form-control" name="bac_level" formControlName="bac_level" required>
        </div>
        <!-- <div class="alert alert-danger" [hidden]="!errors.bac_level">
            {{errors.bac_level}}
          </div> -->
      </div>
    </div>
  </form>
</div>


<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="onDecline()">Annuler</button>
  <button  type="button" class="btn "
    [ngClass]="{ 'btn-primary' : !state, 'btn-warning' : state }" (click)="onSubmit()"
    [disabled]="!AcademicLevelForm.valid">{{SubmitBtnTitle}}</button>
</div>