<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-lg-9">
    <h2>Niveaux Academiques </h2>
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a routerLink="/administrateur/home">Home</a>
      </li>
      <li class="breadcrumb-item">
        <a #h1Variable></a>
      </li>
    </ol>
  </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight">

  <div class="row">
    <div class="col-md-5">
      <div class="ibox ">
        <form #AcademicLevelForm="ngForm">
          <div class="ibox-content">



            <div class="form-group {{ errors.name ? 'has-error' : '' }} ">

              <input type="text" class="form-control" required="" name="name" [(ngModel)]="aca_level.name" placeholder="Nom">
            </div>
            <div class="alert alert-danger" [hidden]="!errors.name">
              {{ errors.name }}
            </div>










            <div class="form-group {{ errors?.bac_level ? 'has-error' : '' }} ">
              <select appSelectValidator="select" required="" id="bac_level" name="bac_level" [(ngModel)]="aca_level.bac_level"
                class="form-control">

                <option value="bac">bac</option>
                <option value="bac+1">bac+1</option>
                <option value="bac+2">Bac+2 </option>
                <option value="bac+3">Bac+3 </option>
                <option value="bac+4">Bac+4 </option>
                <option value="bac+5">Bac+5</option>
                <option value="bac+8">Bac+8</option>

              </select>
            </div>
            <div class="alert alert-danger" [hidden]="!errors.bac_level">
              {{errors.bac_level}}
            </div>













          </div>
          <div class=ibox-footer>
            <button type="submit" class="btn btn-block  btn-primary" [disabled]="AcademicLevelForm.invalid">Sauvgarder</button>
          </div>
        </form>
      </div>

    </div>



    <div class="col-md-7">
      <div class="ibox">
        <div class="ibox-content">
          <h2>Niveaux acadeique </h2>
          <div class="row">
            <div class="col-md-12">
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTriggerALevel" class="table table-striped table-hover">
                <thead>
                  <tr>
                    <th>Niveau Academique</th>
                    <th>Baccalaureat</th>

                    <th>Action</th>

                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let level of aca_levels">
                    <td>{{level.name}}</td>
                    <td>{{level.bac_level}}</td>

                    <td>
                      <div class="btn-group float-right">
                        <!-- <button (click)="goToAcademicLevelDetails(level.id)" class="btn-info btn btn-xs">Voir</button> -->
                        <button (click)="editerAcademicLevel(level.id)" class="btn-warning btn btn-xs">Editer</button>
                        <button (click)="deleteAcademicLevel(level.id)" class="btn-danger btn btn-xs">Supprimer</button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


</div>
