<div id="home">
  <app-slider-section></app-slider-section>




  <div class="container" id="maps">
      <app-statistc-map (messageEvent)="getOnclickObject($event)"></app-statistc-map>
      <p class="font-weight-light">Sélectionnez un pays sur la carte ou dans la liste déroulante. Déplacez la souris sur les figures et les légendes pour explorer le contenu interactif des données. <br><br>
          Les désignations utilisées et la présentation des documents sur la carte n'impliquent l'expression d'aucun avis de la part du UCLGA concernant le statut juridique d'un pays, territoire, ville ou région ou de ses autorités, ni quant à la délimitation de ses frontières ou de ses frontières. limites.</p>
      </div>




</div>
