<div class="container" style="margin-top: 90px">

  <div class="wrapper wrapper-content animated fadeInRight ecommerce">

    <div class="row">
      <div class="col-md-12">
        <div class="ibox-content m-b-sm border-bottom">
          <div class="row">
            <div class="col-md-12">
              <div class="input-group">
                <input [(ngModel)]="searchTerm" type="text" class="form-control" placeholder="Recherche...">
                <span class="input-group-append">
                  <button (click)="search()" type="button" class="btn btn-primary" style="padding-bottom: 0px ;padding-top: 0px">Recherche</button>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 ">
        <div class="col-lg-12 m-b-md">

          <small><i class="fas fa-search"></i> Affiner votre recherche par :</small>
        </div>



        <div class="col-lg-12 no-paddings no-margins" style="
        padding-left: 0px;
        padding-right: 0px;">
          <div class="panel panel-primary">
            <div class="panel-heading" (click)="isCollapsed1 = !isCollapsed1"
            [attr.aria-expanded]="!isCollapsed1" aria-controls="collapseBasic1"><i class="fas fa-landmark"></i>
              Collectivité locale :
            </div>
            <div class="panel-body" id="collapseBasic1" [collapse]="isCollapsed1" >
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Categorie</label>
                    <div class="col-sm-8">
                        <ngx-select [allowClear]="true"
                        [items]="itemsCategoryLevel"
                       [disabled]="ngxDisabled"
                        [(ngModel)]="Category"
                       placeholder="ex: province ...">
                       </ngx-select>
                      
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Region</label>
                    <div class="col-sm-8">
                      <ngx-select [allowClear]="true"
                                  [items]="itemsRegion"
                                 [disabled]="ngxDisabled"
                                 placeholder="Regions d'afrique ...">
                     </ngx-select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Pays</label>
                    <div class="col-sm-8">
                      <ngx-select [allowClear]="true"
                                  [items]="itemsPays"
                                 [disabled]="ngxDisabled"
                                 placeholder="Choisir une pays ...">
                     </ngx-select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Nombre des Femmes élus</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="...">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">N mambres du conseil</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="...">
                    </div>
                </div>

            </div>
          </div>
        </div>
        <div class="col-lg-12 no-paddings no-margins" style="
        padding-left: 0px;
        padding-right: 0px;">
          <div class="panel panel-info">
              <div class="panel-heading" (click)="isCollapsed2 = !isCollapsed2"
              [attr.aria-expanded]="!isCollapsed2" aria-controls="collapseBasic2"><i class="fas fa-user-circle"></i>
              Personne :
            </div>
            <div class="panel-body" id="collapseBasic2" [collapse]="isCollapsed2">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Profile</label>
                    <div class="col-sm-8">
                        <ngx-select [allowClear]="true"
                        [items]="itemsProfil"
                       [disabled]="ngxDisabled"
                        [(ngModel)]="Category"
                       placeholder="ex: Ministre ...">
                       </ngx-select>
                      
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">L'institution d'appartenance</label>
                    <div class="col-sm-8">
                        <ngx-select [allowClear]="true"
                        [items]="itemsInstitution"
                       [disabled]="ngxDisabled"
                        [(ngModel)]="Category"
                       placeholder="ex: uclga ...">
                       </ngx-select>
                      
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Age</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="ex: 29 ans ...">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Genre</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <select class="custom-select" id="inputGroupSelect02">
                              <option selected></option>
                              <option value="1">Femme</option>
                              <option value="2">Homme</option>
                            </select>
                          </div>
                   </div>                        
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Status</label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <select class="custom-select" id="inputGroupSelect02">
                              <option selected></option>
                              <option value="1">Nommé</option>
                              <option value="2">Elu</option>
                            </select>
                          </div>
                   </div>                        
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Fonction</label>
                    <div class="col-sm-8">
                        <ngx-select [allowClear]="true"
                        [items]="itemsFonction"
                       [disabled]="ngxDisabled"
                        [(ngModel)]="Category"
                       placeholder="ex: Directeur Technique ...">
                       </ngx-select>
                      
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Region</label>
                    <div class="col-sm-8">
                      <ngx-select [allowClear]="true"
                                  [items]="itemsRegion"
                                 [disabled]="ngxDisabled"
                                 placeholder="Regions d'afrique ...">
                     </ngx-select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Pays</label>
                    <div class="col-sm-8">
                      <ngx-select [allowClear]="true"
                                  [items]="itemsPays"
                                 [disabled]="ngxDisabled"
                                 placeholder="Choisir une pays ...">
                     </ngx-select>
                    </div>
                </div>


            </div>
          </div>
        </div>

        <div class="col-lg-12 no-paddings no-margins" style="
        padding-left: 0px;
        padding-right: 0px;">
          <div class="panel panel-default">
              <div class="panel-heading" (click)="isCollapsed3 = !isCollapsed3"
              [attr.aria-expanded]="!isCollapsed3" aria-controls="collapseBasic3"><i class="fas fa-building"></i>
              Institution
            </div>
            <div class="panel-body" id="collapseBasic3" [collapse]="isCollapsed3" >
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Categorie</label>
                    <div class="col-sm-8">
                        <ngx-select [allowClear]="true"
                        [items]="itemsCategoryLevel"
                       [disabled]="ngxDisabled"
                        [(ngModel)]="Category"
                       placeholder="ex: Organisation x ...">
                       </ngx-select>
                      
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Region</label>
                    <div class="col-sm-8">
                      <ngx-select [allowClear]="true"
                                  [items]="itemsRegion"
                                 [disabled]="ngxDisabled"
                                 placeholder="Regions d'afrique ...">
                     </ngx-select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Pays</label>
                    <div class="col-sm-8">
                      <ngx-select [allowClear]="true"
                                  [items]="itemsPays"
                                 [disabled]="ngxDisabled"
                                 placeholder="Choisir une pays ...">
                     </ngx-select>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>






      <div class="col-lg-8">
        <div class="ibox ">
          <div class="ibox-content no-border-top">
            <h2 *ngIf="resultsCounts">
              {{ counts }} résultats trouvés pour: <span class="text-navy"> {{ searchTerm }} </span>
            </h2>
            <!-- <small *ngIf="results.length > 0">Request time (0.23 seconds)</small> -->

            <h2 *ngIf="!resultsCounts ">
              Pas résultats trouvés pour: <span class="text-navy">“ {{ searchTerm }}”</span>
            </h2>

            <!-- levels -->
            <div *ngFor="let level of levelsResults ">


              <div class="hr-line-dashed"></div>
              <div class="search-result">

                <div (click)="goToLevelProfil( level.properties.id)">
                <h3>{{ level.properties.category +' '+
                    level.properties.name}}</h3>
                <a class="search-link">{{ level.properties.name }}</a>
                <p>
                  Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model
                  text,
                  and a

                  purpose (injected humour and the like).
                </p>


              </div>
                <!-- <app-country-map *ngIf="level" [country]="level" ></app-country-map> -->

              </div>

            </div>
            <!-- persons -->
            <div *ngFor="let person of personsResults">

                <div class="hr-line-dashed"></div>
                <div class="row"(click)="goToPersonProfil(person.id)">
                    <div class="col-md-9">
    
                        <div class="profile-image">
                            <img src="assets/img/a4.jpg" class="rounded-circle circle-border m-b-md" alt="profile">
                        </div>
                        <div class="profile-info">
                            <div class="">
                                <div>
                                    <h2 class="no-margins">
                                        {{ person.first_name + ' '+ person.last_name}}
                                    </h2>
                                    <h4>Founder of Groupeq</h4>
                                    <small>
                                        {{ person.email}}
                                    </small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <small>Sales in last 24h</small>
                        <h2 class="no-margins">206 480</h2>
                        <div id="sparkline1"><canvas style="display: inline-block; width: 384.75px; height: 50px; vertical-align: top;" width="384" height="50"></canvas></div>
                    </div>
    
    
                </div>  
            </div>



          </div>
        </div>
      </div>
    </div>




  </div>
</div>
